nav {
  display: flex;
  height: 120px;
  margin: auto;
  gap: 1rem;
  align-items: center;
  justify-content: space-around;

  div{
    display: flex;
    gap: 1rem;
    align-items: center;
  
    img {
      width: 70px;
    }
  }

  ul {
    display: flex;
    gap: 1rem;
    li {
      a {
        font-weight: 900;
        letter-spacing: 1px;
        color: var(--green);
        text-transform: capitalize;
      }
    }
  }
}

