nav {
  display: flex;
  height: 100px;
  gap: 1rem;
  align-items: center;
  justify-content: center;

  img {
    width: 70px;
  }

  ul {
    display: flex;
    gap: 1rem;
    li {
      a {
        text-transform: capitalize;
      }
    }
  }
}
