* {
  margin: 0;
  padding: 0;
}

:root {
  color-scheme: light dark;
  --black: #242424;
  --gray: #99c24d;
  --pink: #ffe5d9;
  --monserrat: "Montserrat Variable", sans-serif;
}

body {
  font-family: var(--monserrat);
}

li {
  list-style-type: none;
}

a {
  color: inherit;
  text-decoration: none;
}
